html,body{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}
body{
    background: url('/assets/images/login_bg.jpg') no-repeat center;
    background-size: cover;
}
.loginAndRegBox{
    width: 400px;
    height: 310px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}
.loginAndRegBox .title-box{
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;
}
.loginAndRegBox .login-box,.reg-box{
    padding:0 30px;
}
.loginAndRegBox .linkBox{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}
.loginAndRegBox  .reg-box{
    display: none;
}
.loginAndRegBox .layui-form-item{
    position: relative;
}
.loginAndRegBox input{

    padding-left: 32px;
}
.loginAndRegBox i{
    position: absolute;
    left: 10px;
    top: 10px;
}